<form [formGroup]="addressForm" novalidate *ngIf="addressForm" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-icon class="ml-2" (click)="goBack()" matTooltip="العودة إلى قائمة المستخدمين">arrow_forward</mat-icon>

        <mat-card-title>Shipping Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="الاسم بالعربي" [(ngModel)]="user.ar_name" formControlName="arName">
              <mat-error *ngIf="addressForm.controls['arName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="الاسم بالإنجليزي" [(ngModel)]="user.en_name" formControlName="enName">
              <mat-error *ngIf="addressForm.controls['enName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>